body {
    background-color: rgb(232, 194, 255);
}
dl {
    display: grid;
    grid-template-columns: max-content 1fr;
}

dt, dd {
    display: inline-block;
    padding: 8px 10px;
    margin: 0px;
}

dt {
    background-color: rgb(232, 194, 255);
    text-align: right; 
}